/* layouts */
.experiences {
  border-right: 1px solid #e5e7eb;
  padding: 1.1rem 1.25rem 1.1rem 1.1rem;
}

.exp-block {
  margin-bottom: 1.5rem;
}

.exp-header {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start;
  gap: 0.5rem; */
  margin-bottom: 2px;
}

.tasks {
  padding-left: 1.2rem;
  margin: 0.7rem 0;
}

.exp-block span:nth-child(4) {
  color: #1d4ed8;
  display: inline-block;
  background-color: #dbeafe;
  font-size: 0.75rem;
  border-radius: 0.8rem;
  padding: 0.5rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

/* typos */

.exp-sub {
  font-size: 0.8rem;
  color: #6b7280;
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}

.exp-header span:first-child {
  color: #1b2a4a;
  font-size: 0.9rem;
  font-weight: 700;
}

.exp-header span:nth-child(2) {
  color: #6b7280;
  font-size: 0.8rem;
  font-style: italic;
}

.tasks li::marker {
  color: #1d4ed8;
}

.tasks li {
  color: #374151;
  font-size: 0.9rem;
}
