/* @media screen and (min-width: 900px) {
  .cv-page {
    max-width: 794px;
  }
  .main-column {
    grid-template-columns: 65% 35%;
  }
  .contact {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    font-size: 0.75rem;
    justify-content: center;
  }
} */
